AIRFLOW_IMAGE=apache/airflow:2.9.1
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast
RAW_DATA_DIR=/opt/airflow/data/raw
PREPARED_DATA_DIR=/opt/airflow/data/prepared

PIPELINE_CITY=Paris
PIPELINE_LATITUDE=48.8566
PIPELINE_LONGITUDE=2.3522
PIPELINE_HOURLY_VARIABLES=temperature_2m,relative_humidity_2m,apparent_temperature

TARGET_POSTGRES_HOST=postgres
TARGET_POSTGRES_PORT=5432
TARGET_POSTGRES_DB=meteo
TARGET_POSTGRES_USER=meteo
TARGET_POSTGRES_PASSWORD=meteo
